<body>

<footer id="footer">
<div class="cutie-footer">
  <div class="titlu-footer">
    <img src="../poze/cover.jpg">
    <span> The Demon King Overrun by Heroes</span>
  </div>
  <div class="links-footer">
    <a href="https://ko-fi.com/" target="_blank" rel="noopener noreferrer">buy me a Ko-fi</a>
    <a href="../footer pages/policyPage.html" id="policyBtnFooter">Privacy Policy</a>
    <a href="../footer pages/Terms.html" id="termsBtnFooter">Terms and Conditions</a>
    <a href="../footer pages/dmca.html" id="dmcaBtnFooter">DMCA</a>
  </div>
  <div class="footer-break"></div>
  <button>Made by Hajime</button>
  <div class="cutie-foot-txt-jos">
    <span>© 2026 All Rights Reserved</span>
    <span>v1.5</span>
  </div>
</div>
</footer>

<script src="index.js"></script>
</body>
